@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes Entrance {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes SlideLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes SlideRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes Shake {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

.titleAnimate{
    animation: Entrance 1s linear 0s 1 normal none;
    -webkit-animation: Entrance 1s linear 0s 1 normal none;
}

.lineAnimateRight{
    animation: SlideRight 2s linear 0s 1 normal forwards;
}

.lineAnimateLeft{
    animation: SlideLeft 2s linear 0s 1 normal forwards;
}

body{
    font-family: "Kanit", sans-serif;
    background: linear-gradient(0deg, #fb14ff 0%, #6600ff 100%);
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: 50px;
}

img{
    max-width: 100%;
}

#logo{
    border: 5px dotted #23272E;
    border-radius: 45%;
    width: 10%;
    padding: 5%;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
}

#container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#temp{
    height: 250px;
}

#button{
    background-color: #6600ff;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#button:hover{
    background-color: #fb14ff;
    animation: Shake 1s linear 0s 1 normal forwards;
}