@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Kanit", sans-serif;
    background: linear-gradient(0deg, #fb14ff 0%, #6600ff 100%);
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overline{
    text-decoration: underline;
}

#title{
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: 50px;
}

#underline{
    text-decoration: overline;
}

img{
    max-width: 100%;
}

#logo{
    border: 5px dotted #23272E;
    border-radius: 45%;
    width: 10%;
    padding: 5%;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
}

#container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#temp{
    height: 250px;
}

#button{
    background-color: #6600ff;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#button:hover{
    background-color: #fb14ff;
}